{{>_navbarp}}
<br>
<div class="container">
    <div class="card mt-5">
  <div class="card-header">
    <h1 class="card-title">{{postagem.titulo}}</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <small>Data de publicação: {{postagem.data}}</small>
      <hr>
      <p>{{postagem.conteudo}}</p>
      <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>
</div>