{{>_navbarp}}
<br>
<div class="container">
    <br>
    <br>
    <br>
   <h4>Categorias:</h4>
{{#each categorias}}
   <a href="/categorias/{{slug}}"> <h5>{{categoria}}</h5></a>
{{else}}

{{/each}}
</div>